name: Build and Push Docker Image

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: ${{ secrets.WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ secrets.SERVICE_ACCOUNT }}

      - name: Configure Docker for Artifact Registry
        run: |
          ${{ secrets.GCLOUD_AUTH_CONFIGURE }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./QuizWorker/Dockerfile
          push: true
          tags: |
            ${{ secrets.ARTIFACT_REGISTRY }}:latest
            ${{ secrets.ARTIFACT_REGISTRY }}:${{ github.sha }}

      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy quiz-api-worker \
            --image=${{ secrets.ARTIFACT_REGISTRY }}:${{ github.sha }} \
            --region=asia-southeast2 \
            --platform=managed \
            --allow-unauthenticated
